@model KrGamesFinal.Models.Jogo

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <center> <img src="~/Imagens/krgames.jpg" style="width:50%" /> </center>
    </div>
    <div>
        Não tem conta? <input type="button" value="Cadastre-se" class="btn btn-default" onclick="location.href='@Url.Action("Create", "Usuario")'" />
    </div>
</body>
</html>
