

<html>

<body>
    <div>
        Compra realizada com sucesso!
    </div>
    <div>
        <input type="button" value="Voltar" class="btn btn-default" onclick="location.href='@Url.Action("ListarJogos", "Jogo")'" />
    </div>
</body>
</html>
